* {
    BG:    #1e1e2e;
    BGA:   #292c3cff;
    FG:    #c6d0f5ff;
    FGA:   #f38ba8;
    BDR:   #303446ff;
    SEL:   #f38ba8;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
